.underLine {
  position: relative;
  text-align: center;
}

.underLine::before {
  text-align: center;
  content: "";
  position: absolute;
  bottom: -4px;
  left: 44.5%;
  width: 149px;
  height: 3.4px;
  background-color: #000;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.underLine::after {
  text-align: center;
  content: "";
  position: absolute;
  top: 44px;
  left: 46%;
  width: 100px;
  height: 3px;
  background-color: #000;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

/* .underLine:hover::after {
  
} */
