.skill-item {
  display: flex;
  align-items: center;
}

.logo-container {
  width: 50px; /* Adjust according to your icon size */
  height: 50px; /* Adjust according to your icon size */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Adjust spacing between icon and text */
}

.logo {
  font-size: 24px; /* Adjust according to your icon size */
}
.skil {
  position: relative;
}

.skils {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.skils:nth-child(1) {
  top: 20px;
  left: 20px;
}

.skils:nth-child(2) {
  top: 20px;
  right: 20px;
}

.skils:nth-child(3) {
  bottom: 20px;
  left: 20px;
}

.skils:nth-child(4) {
  bottom: 20px;
  right: 20px;
}
.animate-border {
  animation: spin 12s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Resume */
.underline-effect {
  position: relative;
  display: inline-block;
  padding-bottom: 5px; /* Space between text and underline */
}

.underline-effect::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Thickness of the underline */
  bottom: 0;
  left: 0;
  background-color: #000; /* Color of the underline */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-effect:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underline_double {
  position: relative;
  display: inline-block;
  padding-bottom: 10px; /* Adjust space between text and underlines */
}

.underline_double::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 2px; /* Thickness of the underline */
  border-radius: 20px;
}
.underline_double::after {
  content: "";
  position: absolute;
  border-radius: 20px;
  width: 40%;
  left: 0;
  height: 2px; /* Thickness of the underline */
}

.underline_double::before {
  bottom: 1px; /* Position of the first underline */
  background-color: #ccc; /* Color of the first underline */
}

.underline_double::after {
  bottom: 1px; /* Position of the second underline */
  background-color: #3572ef; /* Color of the second underline */
}

.underline_doubles {
  position: relative;
  display: inline-block;
  padding-bottom: 7px; /* Adjust space between text and underlines */
}

.underline_doubles::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 2px; /* Thickness of the underline */
  border-radius: 20px;
}
.underline_doubles::after {
  content: "";
  position: absolute;
  border-radius: 20px;
  width: 30%;
  left: 0;
  height: 2px; /* Thickness of the underline */
}

.underline_doubles::before {
  bottom: 1px; /* Position of the first underline */
  background-color: #ccc; /* Color of the first underline */
}

.underline_doubles::after {
  bottom: 1px; /* Position of the second underline */
  background-color: #3572ef; /* Color of the second underline */
}

/* Resume */
