.skill-item {
  display: flex;
  align-items: center;
}

.logo-container {
  width: 50px; /* Adjust according to your icon size */
  height: 50px; /* Adjust according to your icon size */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Adjust spacing between icon and text */
}

.logo {
  font-size: 24px; /* Adjust according to your icon size */
}
